---
- name: Enable nonlocal IP binding
  ansible.posix.sysctl:
    name: net.ipv4.ip_nonlocal_bind
    value: '1'
    state: present
    reload: true

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true

- name: Flush handlers
  meta: flush_handlers

- name: Install keepalived Debian
  ansible.builtin.apt:
    pkg:
      - keepalived
    force_apt_get: true
  when: ansible_distribution in ['Ubuntu', 'Debian']

- name: Install keepalived Rocky
  yum:
    name:
      - kernel-headers
      - kernel-devel
      - keepalived
      - policycoreutils-python-utils
      - python3-pip
    state: present
  when: ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Change the keepalived_t domain to permissive
  community.general.selinux_permissive:
    name: keepalived_t
    permissive: true
  when: ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux'

# Since yum doesn't like using notify because yum we have to this instead
- name: Start service keepalived started, if not started
  ansible.builtin.service:
    name: keepalived
    state: stopped
    enabled: true
  when: ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux'

- name: Copy check_pihole.sh
  copy:
    dest: /etc/keepalived/check_pihole.sh
    src: check_pihole.sh
    mode: "0755"

# Finds the IP_ADDRS of the group and removes the ansible_host ip's from it's peer list
- name: Find Local IP Addresses
  set_fact:
    keepalived_local_ips: "{{ ansible_all_ipv4_addresses + ansible_all_ipv6_addresses }}"

- name: Create a list of peer IPs excluding local IPs and ensure /24 suffix
  set_fact:
    keepalived_peer_list: >-
      {{ groups['all']
         | map('extract', hostvars, 'ansible_host')
         | difference(keepalived_local_ips)
         | map('regex_replace', '^(.*?)(/\\d+)?$', '\g<1>/24')
         | list }}

# Step 3: Debug the keepalived_peer_list
- name: Debug keepalived_peer_list
  debug:
    msg: "Peer IPs with /24 for host {{ inventory_hostname }}: {{ keepalived_peer_list }}"

- name: Configure keepalived
  template:
    dest: /tmp/keepalived.conf
    src: keepalived.j2
    mode: "0644"
  notify: Restart keepalived service

- name: Read generated keepalived config from /tmp
  ansible.builtin.slurp:
    src: /tmp/keepalived.conf
  register: keepalived_tmp_conf

- name: Write sanitized keepalived config
  ansible.builtin.copy:
    dest: /etc/keepalived/keepalived.conf
    content: >-
      {{
        keepalived_tmp_conf.content
        | b64decode
        | regex_replace('\\[|\\]', '')
        | regex_replace("['\\\\]", '')
      }}
    owner: root
    group: root
    mode: '0644'

# Fixes issues with eth0 being used for the vagrant vm access interfering with the code pick up of the primary interface
- name: Vagrant test env support 9.x Rocky
  ansible.builtin.replace:
    path: /etc/keepalived/keepalived.conf
    regexp: 'eth0'
    replace: 'eth1'
  when:
    - vagrant_env | default(false) | bool
    - ansible_distribution in ['Rocky', 'Red Hat Enterprise Linux']
    - ansible_distribution_major_version is version('9', '=')

# Fixes issues with ens5 being used for the vagrant vm access interfering with the code pick up of the primary interface
- name: Vagrant test env support 10.x Rocky
  ansible.builtin.replace:
    path: /etc/keepalived/keepalived.conf
    regexp: 'ens5'
    replace: 'ens6'
  when:
    - vagrant_env | default(false) | bool
    - ansible_distribution in ['Rocky', 'Red Hat Enterprise Linux']
    - ansible_distribution_major_version is version('10', '=')

### Add in firewall rules for vrrp protocol
- name: Add VRRP protocol to firewall
  ansible.posix.firewalld:
    rich_rule: rule protocol value="vrrp" accept
    permanent: true
    state: enabled
  notify: Restart firewall config

- name: Flush handlers
  meta: flush_handlers
