---
- name: Set correct handler for RedHat family
  ansible.builtin.set_fact:
    sshd_target_handler: Restart_SSHD
  when: ansible_distribution in ['Rocky', 'Red Hat Enterprise Linux']

- name: Set correct handler for Debian family
  ansible.builtin.set_fact:
    sshd_target_handler: Restart_SSH
  when: ansible_distribution in ['Ubuntu', 'Debian']

# Required for Ubuntu to stop freaking out
- name: Ensure sshd runtime directory exists
  become: true
  file:
    path: /run/sshd
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_distribution in ['Ubuntu', 'Debian']

- name: Configure sshd
  lineinfile:
    path: "/etc/ssh/sshd_config"
    regex: "^(#)?{{ item.key }}"
    line: "{{ item.key }} {{ item.value }}"
    state: present
    validate: /usr/sbin/sshd -T -f %s
  loop:
    - {key: "PermitRootLogin", value: "no"}
    - {key: "PasswordAuthentication", value: "no"}
    - {key: "MaxSessions", value: "5"}
    - {key: "MaxAuthTries", value: "3"}
  notify:
    - "{{ sshd_target_handler }}"
  become: true

- name: Flush handlers
  meta: flush_handlers
